.profile-icon {
  height: 50px;
  width: 50px;
  border-radius: 100%;
  object-fit: cover;
  vertical-align: bottom;
}

.likes-list ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  justify-self: center;
  align-items: center;
  align-self: center;
}

.likes-list li {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 10px;
}

.likes-list a {
  text-decoration: none;
  color: black;
  border: none;
  outline: none;
}
