

/* .loginForm {
  height: 600px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-items: center;
  align-self: center;
  border: 5px solid blue
} */
/*
.loginForm {
  border: blue 5px solid;
  height: 600px;
  width: 300px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-self: center;
  align-items: center;
} */
