* {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}


.signUpForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 400px;
  margin-top: 150px;
  margin-bottom: 400px;
}

.signUp-container {
  margin-top: 200px;
  padding: 20px;
  background-color: white;
  border: solid lightgray 1px;
  height: 60rem;
  width: 20rem;
  box-shadow: 1px 1px 25px #888888;

  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  justify-content: center;
}

.signUp-container h2, h4 {
  text-align: center;
  margin-bottom: 40px;
}

.errors {
  color: red;
  text-align: center;
}

.signUp-container input {
  margin: 20px;
  border: solid 1px lightgray;
  background-color: lightcyan;
  height: 26px;
  width: 16rem;
  margin-left: 40px;
}

.signUp-container label {
  text-align: center;
  margin-left: 30px;
}

.signUp-container button {
  width: 250px;
  height: 30px;
  margin-left: 40px;
  margin-top: 15px;
  border: none;
  color: white;
  background-color: cadetblue;
}

.signUp-container button:hover {
  border: 2px solid cadetblue;
  color: cadetblue;
  background-color: white;
}

.new-user p {
  font-size: smaller;
  text-align: center;
  margin-top: 15px;
}

input[type="file"]::file-selector-button {
  background-color: cadetblue;
  color: white;
  border: none;
  margin-top: 4px;
  margin-left: 5px;
}

input[type="file"]::file-selector-button:hover {
  border: 0.5px solid cadetblue;
    color: cadetblue;
    background-color: white;
}

input[type="file"] {
  color: gray;
}
