body {
  margin: 0;
  top: 0;
  overflow-x: hidden;
  background-color: whitesmoke;
}

.profile-img-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-grow: 1;
  padding-left: 15px;
}

.profile-img-cards {
  list-style-type: none;
}

.profile-img-cards img {
  border-radius: 0px;
  height: 300px;
  width: 300px;
  object-fit: cover;
  vertical-align: bottom;
  padding-left: 1.5rem;
  padding-bottom: 25px;
}

.profile-header {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-top: 25px;
  margin-bottom: 15px;
  border-bottom: 1px solid lightgray;
}

.profile-info {
  display: flex;
  flex-direction: row;

}

.profile-info h4 {
  margin-left: 20px;
}


.user-profile-icon {
  height: 200px;
  width: 200px;
  border-radius: 100%;
  object-fit: cover;
  vertical-align: bottom;
  border: solid lightgray 2px;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.bio {
  margin-bottom: 25px;
}
